streamlit
pdfminer.six
spacy
scikit-learn
sentence-transformers
numpy
rapidfuzz
gliner
transformers==4.44.2
pandas
matplotlib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl